.overlay-backdrop {
  position: fixed;
  inset: 100px; 
  /* ändrade från 0 för att komma åt scoreboard butten*/
  background: rgba(0, 0, 0, 0.415);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-card {
  background: white;
  padding: 30px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 1em;
  

}

.name-input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bdbcbc;
  margin: 10px 0;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

.hide {
    display: none !important;
}

