.overlay-backdrop {
  position: fixed;
  inset: 0;
  /* TODO: vill vi att hela skärmen ska täckas? bestäm när spelvyn är klar*/
  background: rgba(0, 0, 0, 0.33);
  /* TODO: ändra hur genomskinlig bakgrunden ska vara när vi gjort spelvyn*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-card {
  background: white;
  padding: 30px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;

}

.name-input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bdbcbc;
  margin: 10px 0;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.hide {
    display: none !important;
  /* opasity kan hidra klickbarhet efterson den blir osynlig och inte tas bort från DOM*/
}

