
/* .hangman-background, .hangman-img {
    size: 100px;
} */
.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(228, 83, 0));
}

.guess-result-display {
    padding: 10px;
    box-sizing: border-box;
    max-width: 540px;
    .guess-message {
        text-align: center;
    }
}

.game-view {
    display: flex;
    align-items: center;
}

@media (max-width: 1320px) {
    .game-view {
        flex-direction: column;
    }
    .spacer {
        display: none;
    }
}

.hangman-display {
    max-width: 550px;
    min-width: 340px;
    position: relative; 
    overflow: hidden;
}

.hangman-background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.hangman-img {
    position: absolute;
}

.spacer, .wrong-guess-display {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 2em;
} 

.wrong-guess-display, .game-control-box {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(146, 190, 79, 0.837);
}


.game-control-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 30px;
    margin: 1em 0em;
    width: 500px;
}

.game-letter-display {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.letter-slot {
    padding: 0px 10px;
    font-size: 4em; 
    line-height: 0;
    filter: drop-shadow(2px 1px 1px rgb(0, 0, 0));
}

.error-game-msg {
    /* padding-top: 1em; */
    min-height: 2em;
    /* align-self: center; */
}


.guess-bar {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bdbcbc;
    margin: 10px 0;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* gameslot might need a clamp */