
/* .hangman-background, .hangman-img {
    size: 100px;
} */
.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(228, 83, 0));
}

.guess-result-display {
    padding: 10px;
    box-sizing: border-box;
    max-width: 540px;
    .guess-message {
        text-align: center;
    }
}

.game-view {
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 1320px) {
    .game-view {
        flex-direction: column;
    }
    .spacer {
        display: none;
    }
}

.hangman-display {
    position: relative;
    width: 90vw;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
}

.hangman-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hangman-pieces {
    position: absolute;
    inset: 0;
    z-index: 20;
}

.hangman-img, .the-noose {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spacer, .wrong-guess-display {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 2em;
} 

.wrong-guess-display, .game-control-box {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(146, 190, 79, 0.837);
    cursor: default;
    h3 {
        color:white;
        filter: drop-shadow(2px 1px 1px rgb(0, 0, 0));
    }
}


.game-control-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2vh;
    margin: 1em 0;
}

.game-letter-display {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 20px 0;
    gap: clamp(8px, 1.5vw, 25px);
    max-width: 95vw;
}

.letter-slot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
     width: clamp(20px, 5vw, 60px);
    height: clamp(40px, 6vw, 70px);
    font-size: clamp(1.5rem, 5vw, 4em);
    filter: drop-shadow(2px 1px 1px rgb(0, 0, 0));
    & > * {
        text-align: center;
        line-height: 1;
    }
}

    .underscore {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.8em;

}

.error-game-msg {
    /* padding-top: 1em; */
    min-height: 2em;
        font-size: clamp(1rem, 4vw, 2em);
    /* align-self: center; */
}


.guess-bar {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bdbcbc;
    margin: 10px 0;
    margin-right: 10px;
    font-size: clamp(1em, 5vw, 2em);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

/* gameslot might need a clamp */