.game-letter-display {
    display: flex;
    justify-content: center;
}

.letter-slot {
    display: flex;
    padding-left: 10px;
    font-size: 3em;
}
.hangman-display {
    max-width: 400px;
    img {
        width: 90%;
        height: 90%;
        object-fit: contain;
    }
}
.wrong-guess-display {
    background-color: hotpink;
    width: 200px;
    height: 200px;
}

.hidden{
    opacity: 0;
}

.error-msg {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 10px;
    transition: opacity 0.5s ease;
}