* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  gap: 0;
  background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(228, 83, 0));
  height: 100vh;
}

.button {
  width: 100%;
  padding: 12px;
  background: #67a41b;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover {
  background: #1d4ed8;
}

h2 {
  display: flex;
  justify-content: center;
  /* TODO: BETTER STYLE MORE COOL */
}
