* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    opacity: 0;
}

.button {
  width: 100%;
  padding: 12px;
  background: rgba(146, 190, 79, 0.837);
  color: white;    
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover {
  background: #1d4ed8;
}

h2 {
  display: flex;
  justify-content: center;
  /* TODO: BETTER STYLE MORE COOL */
}

.error-msg {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
    filter: drop-shadow(2px 1px 1px rgb(0, 0, 0));
    font-size: 1.5em;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
}


