header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    background: linear-gradient(to right, rgb(211, 193, 0), rgb(255, 128, 0));
    /* padding: 0 1rem; */
    border-bottom: 2px solid black;
    & > img {
        width: 20px;
        height: 20px;
    }
    & > h1 {
    font-size: 3em;
    color: rgb(254, 169, 0);
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 3px;
    }
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: 8px;
}

.score-board-button {
    border: 1px solid rgb(242, 199, 173);
    background-color: rgb(242, 199, 173);
    padding: 5px;
    border-radius: 8px;
    margin-right: 8px;
}

@media (max-width: 1320px) {
    .spacer {
        display: none;
    }
}