header {
    display: flex;
    flex-direction: row;    
}

.game-letter-display {
    display: flex;
    justify-content: center;
}

.letter-slot {
    display: flex;
    padding-left: 10px;
    font-size: 3em;
}
.hangman-display {
    max-width: 400px;
    img {
        width: 90%;
        height: 90%;
        object-fit: contain;
    }
}

.hidden-letter{
    opacity: 0;
}