.scoreboard-display .overlay-card {
  display: grid;
  justify-content: stretch;
  background-color: rgba(38, 136, 29, 0.954);
  color: rgb(27, 49, 8);
  border: 1px solid rgb(16, 15, 15);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 20em;
  /* height: 25em; */
}

.scoreboard-display p {
  border: 1px solid rgb(27, 57, 2);
  background-color: rgb(217, 208, 208);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

