.scoreboard-display .overlay-card {
  display: grid;
  justify-content: stretch;
  background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(228, 83, 0));
  color: rgb(27, 49, 8);
  border: 1px solid rgb(16, 15, 15);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
  padding-top: 10px;

  h2 {
    font-size: 2.3em;
  }
}

.scoreboard-display p {
  border: 1px solid rgb(27, 57, 2);
  background-color: rgb(217, 208, 208);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
  font-size: 1.3em;
}

.sorting-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 3px;
  height: auto;
  & > * {
  border-radius: 10px;
  margin-bottom: 5px;
  max-width: 6em;
  }
}

button {
  flex: 1;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.close-scoreboard {
  border: 1px solid rgb(27, 57, 2);
  background-color: rgb(241, 74, 45);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.selected {
  background-color: rgb(170, 234, 113);
  box-shadow: 0px 5px 3px black;
}

.not-selected {
  background-color: rgb(196, 154, 104);
}

.close-adjust {
  position: relative;
  left: 0em;
  width: 70px;
}