.scoreboard-display {
  display: grid;
  justify-content: stretch;
  background-color: rgb(40, 37, 108);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 20em;
  height: 25em;
}

.scoreBoard-name {
  border: 1px solid rgb(13, 135, 242);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.scoreBoard-guesses {
  border: 1px solid rgb(13, 135, 242);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.scoreBoard-word-length {
  border: 1px solid rgb(13, 135, 242);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.scoreBoard-time {
  border: 1px solid rgb(13, 135, 242);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.scoreBoard-date {
  border: 1px solid rgb(13, 135, 242);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.scoreBoard-status {
  border: 1px solid rgb(13, 135, 242);
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}